table {
    border-collapse: collapse;
    width: 90%;
  }
  
  th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 10cm;
    background-color: #f0f0f8;
  }

  td{
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #f7f7ff;
  }